.delete {
    background: var(--secondary-color);
    border-radius: 0 6px 6px 0;
    display: flex;
    width: 100px;
    border-left: 1px solid rgb(255 255 255 / 9%);
    align-items: center;
    justify-content: center;
}
.btn {
}
.icon {
    fill: rgb(255, 0, 0);
    width: 40px;
    height: 40px;
}
.warn {
    width: 400px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title {
    font-weight: 500;
    font-size: 22px;
    display: flex;
    justify-content: center;
}
.btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .confirm {
        background: rgb(224, 100, 100);
        padding: 5px;
        height: 40px;
        border-radius: 6px;
        width: 100px;
        transition: all 0.2s linear;
        &:hover {
            background: red;
            box-shadow: 0 0 3px red;
        }
    }
    .cancel {
        background: rgb(131, 129, 129);
        padding: 5px;
        height: 40px;
        border-radius: 6px;
        width: 100px;
        transition: all 0.2s linear;
        &:hover {
            background: rgb(168, 168, 168);
            box-shadow: 0 0 3px rgb(114, 114, 114);
        }
    }
}
