.AppLink {
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
}

.primary {
    color: var(--link-color);
    &:hover {
        color: var(--link-hover-color);
    }
}

.secondary {
    color: var(--invert-primary-color);
}
.placement {
    color: var(--primary-color);
}
