.textArea {
    textarea {
        color: var(--primary-color);
        background: var(--secondary-color);
        border-color: var(--border-color);
        border-radius: 6px;
        &:focus {
            outline: none;
            border-color: var(--border-color);
            box-shadow: 0 0 5px var(--box-shadow-color);
        }
        padding: 5px 10px;
        resize: none;
    }
}
